.hamburger {
  @include border;
  padding: 1rem;
  cursor: pointer;
  display: none;
  @include for-size(screen-md, $width: max) {
    display: block;
  }
}

.bar {
  display: block;
  width: 1.563rem;
  height: 0.188rem;
  margin: 0.313rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $color-white;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}