@mixin navRow {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.nav {
  &__menu {
    width: 100%;
    display: flex;
    align-items: center;

    @include for-size(screen-md) {
      gap: 11rem;
    }
  }


  &__items {
    display: flex;
    flex-grow: .5;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-direction: row;
    @include for-size(screen-md, $width: max) {
      justify-content: center;
      @include navRow();
    }

    @include for-size(screen-md) {
      justify-content: space-between;
    }

    &--row {
      @include navRow();
      margin-top: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: start;
    }
  }

  &__link{
    @include link();
    
    &--dark {
      @include typography($color: $color-brown--dark);

      &:hover{
        @include increaseText;
      }
    }
    &:hover{
      @include increaseText;
    }
  }

  &__menu.active {
      left: 0;
      gap: 1rem;
  }
  @include for-size(screen-md, $width: max) {
    &__menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: $color-primary;
      width: 100%;
      border-radius: 0.625rem;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 0.625rem 1.688rem $shadow-secondary;
      padding: 1.563rem;
    }
  
    &__menu.active {
        left: 0;
        gap: 1rem;
    }
  
    &__item {
        margin: 0 auto;
    }
  }
}
